mixin TaskCard(properties, statesSimulations)

  -

    statesSimulations = statesSimulations ?? {}

    const {
      task,
      rootElementTag = "div"
    } = properties

    const {} = statesSimulations


  #{rootElementTag}.TaskCard&attributes(attributes)(
    tabindex="0"
  )

    span.TaskCard-Checkbox(
      role="checkbox"
      aria-checked= String(getRandomBoolean())
      tabindex="0"
    ): +Checkbox__Unchecked--YDF_Icon.TaskCard-Checkbox-Icon


    .TaskCard-Title= task.title

    if getRandomBoolean()

      .TaskCard-BadgesFlow

        +Badge--YDF({
          value: "Test",
          geometry: Badge__YDF.GeometricVariations.borderless,
          decoration: Badge__YDF.DecorativeVariations.veryCatchyBright
        })

    if getRandomBoolean()

      p.TaskCard-Description= task.description


include LoadingPlaceholder/TaskCard-LoadingPlaceholder.pug
