-
  
  class PersonManager {
    
    static counterForComponentID_Generating = 0;
    
    static generateComponentID() {
      PersonManager.counterForComponentID_Generating++;
      return `PERSON_MANAGER-${ PersonManager.counterForComponentID_Generating }`;
    }
    
  }
  

mixin PersonManager(properties, statesSimulations)

  - 

    properties = properties ?? {}
    statesSimulations = statesSimulations ?? {}
 
    const {
      targetPerson = null,
      activationGuidance
    } = properties
 
    const {
      editingMode = false
    } = statesSimulations
    
    const COMPONENT_ID = PersonManager.generateComponentID();
    const HEADING_ID = `${ COMPONENT_ID }-Heading`;
    
    const viewingMode = !editingMode;
    
    
  .PersonManager&attributes(attributes)

    .PersonManager-Heading(
      id= HEADING_ID
    ) 人（連絡先）詳細
      
    if !targetPerson && activationGuidance
      
      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true
      }).PersonManager-Guidance= activationGuidance
      
      
    .PersonManager-ActionBar

      if viewingMode
      
        +Button--YDF({
          geometry: Button__YDF.GeometricVariations.small,
          disabled: !targetPerson
        })
          +Pencil__Filled--YDF_Icon.Button--YDF-SVG_Icon
          span.Button--YDF-Label 編集
        
      +Button--YDF({
        geometry: Button__YDF.GeometricVariations.small,
        disabled: !targetPerson
      })
        +TrashCan__Filled--YDF_Icon.Button--YDF-SVG_Icon
        span.Button--YDF-Label 削除
        
      
    if viewingMode
      
      dl.PersonManager-Metadata
      
        dt 名前
        dd= targetPerson ? targetPerson.Name : "" 
        
        dt メール
        dd= targetPerson ? targetPerson.Email : ""
        
        dt 電話
        dd= targetPerson ? targetPerson.PhoneNumber : ""
        
        dt 年齢
        dd= targetPerson ? `${ targetPerson.Age }歳` : ""
      
    else
      
      form.PersonManager-Form(
        aria-labelledby= HEADING_ID
      )
      
        +TextBox--YDF({
          label: "名前",
          guidance: "〇〇～〇〇文字を入力して下さい。",
          value: targetPerson ? targetPerson.Name : ""
        }).PersonManager-Control
    
        +TextBox--YDF({
          label: "メール",
          guidance: "〇〇～〇〇文字を入力して下さい。",
          HTML_Type: TextBox__YDF.HTML_Types.email,
          value: targetPerson ? targetPerson.Email : ""
        }).PersonManager-Control
    
        +TextBox--YDF({
          label: "電話",
          guidance: "〇〇～〇〇文字を入力して下さい。",
          HTML_Type: TextBox__YDF.HTML_Types.phoneNumber,
          value: targetPerson ? targetPerson.PhoneNumber : ""
        }).PersonManager-Control
    
        +TextBox--YDF({
          label: "年齢",
          guidance: "〇〇～〇〇文字を入力して下さい。",
          HTML_Type: TextBox__YDF.HTML_Types.number,
          value: targetPerson ? targetPerson.Age : ""
        }).PersonManager-Control
    
        
        .PersonManager-ActionBar

          +Button--YDF({
            disabled: !targetPerson
          })
            +MultiplicationSign--YDF_Icon.Button--YDF-SVG_Icon
            span.Button--YDF-Label 編集を止める
          
          +Button--YDF({
            HTML_Type: Button__YDF.HTML_Types.inputSubmit,
            decoration: Button__YDF.DecorativeVariations.accented,
            label: "保存",
            disabled: !targetPerson
          })
