@using FrontEndFramework.Components.AttentionBox
@using FrontEndFramework.Components.Controls.Buttons.Plain
@using FrontEndFramework.Components.Controls.TextBox
@using FrontEndFramework.SVG_Icons.Pencil
@using FrontEndFramework.SVG_Icons.TrashCan
@using FrontEndFramework.SVG_Icons.MultiplicationSign


<div class="PersonManager @spaceSeparatedAdditionalCSS_Classes">
  
  <div 
    class="PersonManager-Heading"
    id="@HEADING_ID"
  >
    人（連絡先）詳細
  </div>
  
  @if (targetPerson is null && !String.IsNullOrEmpty(activationGuidance))
  {
    <AttentionBox
      spaceSeparatedAdditionalCSS_Classes="PersonManager-Guidance"
      decoration=@AttentionBox.StandardDecorativeVariations.guidance
      hasPrependedSVG_Icon
    >
      <p>@activationGuidance</p>
    </AttentionBox>
  }
  
  
  <div class="PersonManager-ActionBar">
    
    @if (isViewingMode)
    {
      <Button
        disabled=@(targetPerson is null)
        label="編集"
        onClick="beginPersonEditing"
      >
        <PrependedSVG_Icon>
          <PencilIcon__Filled spaceSeparatedAdditionalCSS_Classes="Button--YDF-SVG_Icon" />  
        </PrependedSVG_Icon>
      </Button>
    }
      
    <Button
      disabled=@(targetPerson is null)
      label="削除"
      onClick="displayPersonDeletingConfirmationDialog"
    >
      <PrependedSVG_Icon>
        <TrashCan__Filled spaceSeparatedAdditionalCSS_Classes="Button--YDF-SVG_Icon" />  
      </PrependedSVG_Icon>
    </Button>
  
  </div>
  
  
  @if (isViewingMode)
  {

    <dl class="PersonManager-Metadata">
    
      <dt>名前</dt>
      <dd>@(targetPerson is not null ? $"{ targetPerson.FamilyName }{ targetPerson.GivenName }" : "" )</dd>
    
      @if (targetPerson?.EmailAddress != null)
      {
        <dt>メールアドレス</dt>
        <dd>@targetPerson.EmailAddress</dd>      
      }
      
      @if (targetPerson?.PhoneNumber != null)
      {
        <dt>電話番号</dt>
        <dd>@targetPerson.PhoneNumber</dd>      
      }
      
      @if (targetPerson?.Age != null)
      {
        <dt>年齢</dt>
        <dd>@targetPerson.Age</dd>      
      }
    
    </dl>
  }
  
  else
  {
    <form
      class="PersonManager-Form"
      aria-labelledby=@HEADING_ID
    >
        
      <TextBox
        label="名前"
        guidance="〇〇～〇〇文字を入力して下さい。"
        spaceSeparatedAdditionalCSS_Classes="PersonManager-Control"
      />
      
      <TextBox
        label="メール"
        HTML_Type="TextBox.HTML_Types.email"
        spaceSeparatedAdditionalCSS_Classes="PersonManager-Control"
      />
      
      <TextBox
        label="電話"
        HTML_Type="TextBox.HTML_Types.phoneNumber"
        spaceSeparatedAdditionalCSS_Classes="PersonManager-Control"
      />
      
      <TextBox
        label="年齢"
        HTML_Type="TextBox.HTML_Types.number"
        spaceSeparatedAdditionalCSS_Classes="PersonManager-Control"
      />
      
      
      <div class="PersonManager-ActionBar">
        
        <Button
          label="保存"
          HTML_Type=@Button.HTML_Types.inputSubmit
          decoration=@Button.StandardDecorativeVariations.accented.ToString()
          onClick=@updatePerson
        />
        
        <Button
          label="編集を止める"
          onClick=@utilizePersonEditing
        >
          <PrependedSVG_Icon>
            <MultiplicationSignIcon spaceSeparatedAdditionalCSS_Classes="Button--YDF-SVG_Icon" />  
          </PrependedSVG_Icon>
        </Button>
        
      </div>
      
    </form>  
  }
  
  
</div>