@if (isButtonTheTagNameOfRootElement)
{
  
  <button
    type="@typeAttributeValueOfInputOrButtonElement"
    class="@rootElementSpaceSeparatedClasses @SpaceSeparatedAdditionalCSS_Classes"
    disabled="@Disabled"
    @onclick="onClick"
  >
    
    @* TODO ① スロット https://github.com/TokugawaTakeshi/ExperimentalCSharpApplication1/issues/25 *@
    
    @if (!String.IsNullOrEmpty(Label))
    {
      <span class="Button--YDF-Label"> @Label </span>  
    }
    
    @* TODO ①  *@
    
  </button>
  
} 

else if (isInputTheTagNameOfRootElement)
{
  
  <input
    type="@typeAttributeValueOfInputOrButtonElement"
    value="@Label"
    class="@rootElementSpaceSeparatedClasses @SpaceSeparatedAdditionalCSS_Classes"
    disabled="@Disabled"
    @onclick="onClick"
  >
  
} 

else if (isNavLinkTheRootElement)
{
  <NavLink 
    href="InternalURN"
    aria-disabled="@Disabled"
    tabindex="@Disabled ? -1 : null"
    class="@rootElementSpaceSeparatedClasses @SpaceSeparatedAdditionalCSS_Classes"
  >
    
    @* TODO ① *@
        
    @if (!String.IsNullOrEmpty(Label))
    {
      <span class="Button--YDF-Label"> @Label </span>  
    }
    
    @* TODO ①  *@
    
  </NavLink>
} 

else if (isAnchorTheTagNameOfRootElement)
{
  <a
    href="@ExternalLinkURI"
    class="@rootElementSpaceSeparatedClasses @SpaceSeparatedAdditionalCSS_Classes"
    aria-disabled="@Disabled"
    tabindex="@Disabled ? -1 : null"
  >
    
    @* TODO ① *@
            
    @if (!String.IsNullOrEmpty(Label))
    {
      <span class="Button--YDF-Label"> @Label </span>  
    }
    
    @* TODO ①  *@
    
  </a>
}
