mixin PersonCard(properties)

  -

    const {
      targetPerson,
      rootElementTag = "div"
    } = properties


  #{rootElementTag}.PersonCard&attributes(attributes)(
    tabindex="0"
  )

    dl.PersonCard-Metadata

      dt.PersonCard-Metadata-Key 氏名
      dd.PersonCard-Metadata-Value= `${ targetPerson.FamilyName }${ targetPerson.GivenName }`

      if targetPerson.EmailAddress
        dt.PersonCard-Metadata-Key メール
        dd.PersonCard-Metadata-Value= targetPerson.EmailAddress

      if targetPerson.PhoneNumber
        dt.PersonCard-Metadata-Key 電話番号
        dd.PersonCard-Metadata-Value= targetPerson.PhoneNumber

      if targetPerson.Age
        dt.PersonCard-Metadata-Key 年齢
        dd.PersonCard-Metadata-Value= `${ targetPerson.Age }歳`

      
include LoadingPlaceholder/PersonCardLoadingPlaceholder.pug
