<li 
  Tag="@RootElementTag" 
  class="PersonCard @spaceSeparatedAdditionalCSS_Classes"
  tabindex="0"
>

  <dl class="PersonCard-Metadata">
    
    <dt>氏名</dt>
    <dd> @TargetPerson.FamilyName @TargetPerson.GivenName </dd>
    
    @if (!String.IsNullOrEmpty(@TargetPerson.EmailAddress))
    {
      <dt>メール</dt>
      <dd> @TargetPerson.EmailAddress </dd>  
    }

    @if (!String.IsNullOrEmpty(@TargetPerson.PhoneNumber))
    {
      <dt>電話番号</dt>
      <dd> @TargetPerson.PhoneNumber </dd>  
    }

    @if (@TargetPerson.Age != null)
    {
      <dt>年齢</dt>
      <dd> @TargetPerson.Age </dd>  
    }
    
  </dl>
  
</li>
