mixin TaskCard(properties)

  -

    const {
      task,
      rootElementTag = "div"
    } = properties

    
  #{rootElementTag}.TaskCard&attributes(attributes)(
    tabindex="0"
  )

    span.TaskCard-Checkbox(
      role="checkbox"
      aria-checked= String(task.IsComplete)
      tabindex="0"
    )
    
      if task.IsComplete
        
        +Checkbox__Checked--YDF_Icon.TaskCard-Checkbox-Icon
        
      else

        +Checkbox__Unchecked--YDF_Icon.TaskCard-Checkbox-Icon

    .TaskCard-Title= task.Title

    case getRandomInteger({ minimalValue: 1, maximalValue: 8 })
      
      when 1

        .TaskCard-BadgesFlow
          
          +Badge--YDF({
            key: "実行日付",
            value: "9月12日",
            decoration: Badge__YDF.DecorativeVariations.neutralPastel
          }): +Calendar--YDF_Icon.Badge--YDF-SVG_Icon
          
      when 2

        .TaskCard-BadgesFlow

          +Badge--YDF({
            key: "実行日時",
            value: "9月12日 12:30",
            decoration: Badge__YDF.DecorativeVariations.neutralPastel
          }): +Calendar__Time--YDF_Icon.Badge--YDF-SVG_Icon
          
      when 3

        .TaskCard-BadgesFlow
      
          +Badge--YDF({
            key: "場所",
            value: "品川駅",
            decoration: Badge__YDF.DecorativeVariations.neutralPastel
          }): +Location__BottomCircle--YDF_Icon.Badge--YDF-SVG_Icon
      
          
      when 4

        .TaskCard-BadgesFlow
        
          +Badge--YDF({
            key: "定期繰り返し",
            value: "週に1回",
            decoration: Badge__YDF.DecorativeVariations.modestlyCatchyPastel
          }): +Calendar__Repeat--YDF_Icon.Badge--YDF-SVG_Icon
          
      when 5

        .TaskCard-BadgesFlow
        
          +Badge--YDF({
            key: "計画",
            value: "〇〇アプリケーション開発",
            decoration: Badge__YDF.DecorativeVariations.achromaticPastel
          }): +Folder__Stationery--YDF_Icon.Badge--YDF-SVG_Icon
          
          
      when 6

        .TaskCard-BadgesFlow
          
          +Badge--YDF({
            value: "本日",
            decoration: Badge__YDF.DecorativeVariations.veryCatchyPastel
          }): +Calendar__Date--YDF_Icon.Badge--YDF-SVG_Icon
        
        
      when 7

        .TaskCard-BadgesFlow
          
          +Badge--YDF({
            key: "他人に依存",
            value: "田中博",
            decoration: Badge__YDF.DecorativeVariations.modestlyCatchyPastel
          }): +Person__Clock__Rectangled__Filled--YDF_Icon.Badge--YDF-SVG_Icon
        

    if task.Description

      p.TaskCard-Description= task.Description


include LoadingPlaceholder/TaskCardLoadingPlaceholder.pug
