mixin PersonCard(properties)

  -

    const {
      person,
      rootElementTag = "div"
    } = properties


  #{rootElementTag}.PersonCard&attributes(attributes)(
    tabindex="0"
  )

    dl.PersonCard-Metadata

      dt.PersonCard-Metadata-Key 氏名
      dd.PersonCard-Metadata-Value= `${ person.FamilyName }${ person.GivenName }`

      if person.EmailAddress
        dt.PersonCard-Metadata-Key メール
        dd.PersonCard-Metadata-Value= person.EmailAddress

      if person.PhoneNumber
        dt.PersonCard-Metadata-Key 電話番号
        dd.PersonCard-Metadata-Value= person.PhoneNumber

      if person.Age
        dt.PersonCard-Metadata-Key 年齢
        dd.PersonCard-Metadata-Value= `${ person.Age }歳`

      
include LoadingPlaceholder/PersonCardLoadingPlaceholder.pug
